/* de lijst */
.stemmen form {
	position:relative;
}

.stemmen ul {
    position:relative;
}

/* een dier */
.stemmen li {
    position:absolute;
	width:100%;
}

/* een dier - plaatje en naam*/
.stemmen li section.plaatje {
    margin:1em 3em 0;
	box-shadow:2px 2px 2px rgb(202,204,204);
    border:1px solid black;
    background-color:white;
	transition:.75s ease-out;
}

.stemmen li img {
   width:100%;
}

.stemmen h2 {
	text-align: center;
    font: bold 24px/45px Helvetica, Sans-Serif;
}

/* een dier - tijdens draggen */
/* richting het maken van een keuze */
/* kan gebruikt worden om feedback te geven tijdens draggen */
.stemmen .richtingja section.plaatje{
    background:rgb(204,255,204);
}

.stemmen .richtingnee section.plaatje {
	background:rgb(255,204,204);
}

/* een dier - beweging van de dieren na klikken/swipen */
.stemmen .ja section.plaatje{
    -webkit-transform:translateX(125%) rotate(30deg) scale(.75);
    transform:translateX(125%) rotate(30deg) scale(.75);
	opacity:0;
}

.stemmen .nee section.plaatje {
    -webkit-transform:translateX(-125%) rotate(-30deg) scale(.75);
    transform:translateX(-125%) rotate(-30deg) scale(.75);
	opacity:0;
}

/* een dier - geen lelijke radio buttons - bedienen via aparte knoppen */
.stemmen section.knoppen{
    display:none;
}

/* een dier - submit button niet zichtbaar - triggeren via javascript */
.stemmen input[type="submit"] {
    display:none;
}

/* de knoppen */
.stemmen .deKnoppen {
	position:absolute;
	top:100vw;
	width:100%;
	text-align:center;
}

.stemmen .deKnoppen a{
    display:inline-block;
	width:0;
	height:4em;
	padding-left:6em;
	margin:0 1em;
	overflow:hidden;
	
	border-radius:.5em;
}

.stemmen .deKnoppen a:first-of-type{ /* NEE */
	background:rgb(204,0,0) url(../images/knop1.png) no-repeat center center;
	background-size:4em;
	-webkit-transform:rotate(180deg);
	transform:rotate(180deg);
}

.stemmen .deKnoppen a:last-of-type{ /* JA */
	background:rgb(0,204,0) url(../images/knop1.png) no-repeat center center;
	background-size:4em;
}


@media screen and (min-width: 32em) {
	.stemmen .deKnoppen {
		top:32em;
	}
}