/* CSS Document */
body{
    overflow: hidden;
}

header{
    text-align: center;
}
/* de lijst */

ul {
    position:relative;
}

/* een dier - plaatje */

li {
    position:absolute;
}

li img{
    width: auto;
    height: 60vw;
}

li section.plaatje{
    position: relative;
    width: 100%;

    width:80vw;
    height:80vw;
    margin:10vw;

    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0, 0, 0, 0.2);
    border: 10px solid white;
    box-sizing: border-box;
    background-color: white;
}

h2 {
    position: absolute;
    top: 63vw;
    left: 1%;
    width: 100%;
    text-align: center;
    font: bold 24px/45px Helvetica, Sans-Serif;
}

/* ja/nee knoppen */
/* geen lelijke radio buttons - bedienen via de labels */
input {
    display:none;
    background-image: url(../knop1.png)
}

section.knoppen{
    width: 100%;
    display: block;
    border:none;
}

label{
    display:inline-block;
    width: 50%;
    line-height:4em;
    text-align:center;
    color:white;
}
label:first-of-type{
    background:rgb(0,204,0);
    width: 50%;
    display: inline-block;
    float: right;
}

label:last-of-type{
    background:rgb(204,0,0);
    width: 50%;
    display: inline-block;
    float: left;
}

/* beweging van de dieren na klikken */
.ja {
    -webkit-transform:translateX(145%) rotate(30deg);
    transform:translateX(145%) rotate(30deg);
    transition:.5s ease-out;
}

.nee {
    -webkit-transform:translateX(-145%) rotate(-30deg);
    transform:translateX(-145%) rotate(-30deg);
    transition:.5s ease-out;
}

/* button niet zichtbaar - triggeren via javascript */
input[type="submit"] {
    display:none;
}

/* desktop */
@media screen and (min-width: 650px) {
li section.plaatje{
    width:40vw;
    height:40vw;
    margin-left:30vw;
}

li img{
    width: auto;
    height: 30vw;
}
}

@media only screen and (max-width: 320px) {
li section.plaatje{
    width:80vw;
    height:80vw;
}

li img{
    width: auto;
    height: 60vw;
}

input{
    width: 50%;

}
}

img:first-child{
 width: 50px;
}


